<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>
<body class="container">
<header th:replace="fragments :: header"></header>
<h2>Edit Device</h2>

<th:block th:unless="${device}">
    <p>The device you are trying to edit does not exist.</p>
</th:block>
<th:block th:if="${device}">
    <form method="post" th:action="@{/devices/edit}">
        <div class="form-group">
            <label>Name
                <input type="text" name="name" class="form-control" th:value="${device.name}">
            </label>
        </div>
        <div class="form-group">
            <label th:for="room">Room</label>
                <select name="roomId">
                    <option th:each="room : ${rooms}"
                            th:value = "${room.id}"
                            th:text="${room.name}"
                            th:selected="${room.name == device.room.name}">
                    </option>
                </select>
        </div>
        <div class="form-group">
            <label>Description
                <input type="text" name="description" class="form-control" th:value="${device.description}">
            </label>
        </div>
        <input type="hidden" th:value="${deviceId}" name="deviceId" />
        <div class="form-group">
            <input type="submit" value="Update Device" class="btn btn-success">
        </div>
    </form>
</th:block>

</body>
</html>