<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>
<body class="container">
<header th:replace="fragments :: header"></header>
<div class="container breadcrumbs">
    <span><a th:href="@{/}" th:text="${'Home-Page'}"></a></span>
    <span>> Devices</span>
</div>
<h2>Devices</h2>
<p th:unless="${user.devices} and ${user.devices.size()}">No devices!</p>

<div class="container body-content">
    <ul>
        <li th:each="device : ${user.devices}">
            <a th:href="@{'/devices/view/' + ${device.id}}" th:text="${device.name + ' in ' + device.room.name + ' in ' + device.room.property.name}"></a>
        </li>
    </ul>
    <a th:href="@{'/devices/add'}">
        <input type="submit" value="Add Devices" class="btn btn-secondary">
    </a>
</div>

</body>
</html>