<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>
<body class="container">
<header th:replace="fragments :: header"></header>
<div class="container">
    <span><a th:href="@{/}" th:text="${'Home-Page'}"></a></span>
    <span>> <a th:href="@{/properties}" th:text="${'Properties'}"></a></span>
    <span>> <a th:href="@{/rooms}" th:text="${'Rooms'}"></a></span>
    <span>> Devices</span>
</div>
<h2>Devices</h2>
<p th:unless="${devices} and ${devices.size()}">No devices!</p>

<div class="container body-content">
    <ul>
        <li th:each="device : ${devices}">
            <a th:href="@{'/devices/view/' + ${device.id}}" th:text="${device.name + ' in ' + device.room.name + ' in ' + device.room.property.name}"></a>
        </li>
    </ul>
    <a th:href="@{'/devices/add'}">Add Devices</a>
</div>
<p></p>

<div>
    <a th:href="@{/rooms}">
        <input type="submit" value="View Rooms" class="btn btn-info">
    </a>
</div>

</body>
</html>