<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>
<body class="container">
<header th:replace="fragments :: header"></header>
<div class="container breadcrumbs">
    <span><a th:href="@{/}" th:text="${'Home-Page'}"></a></span>
    <span>> Search Results<span th:text="${#strings.capitalizeWords(result)}"></span></span>
</div>
<h2>Search Results</h2>

<div class="container body-content">

    <table class="table table-bordered">
        <tr th:if="${devices}">
            <th>Property</th>
            <th>Room</th>
            <th>Device</th>
            <th>Component</th>
        </tr>
        <tr th:each="device : ${devices}">
            <td><a th:href="@{'/properties/view/' + ${device.room.property.id}}"  th:text="${device.room.property.name}"></a></td>
            <td><a th:href="@{'/rooms/view/' + ${device.room.id}}" th:text="${device.room.name}"></a></td>
            <td><a th:href="@{'/devices/view/' + ${device.id}}" th:text="${device.name}"></a></td>
            <td>
                <ul th:each="component : ${device.components}">
                    <li>
                        <a th:href="@{'/components/view/' + ${component.id}}" th:text="${component.name}"></a>
                    </li>
                </ul>
            </td>
        </tr>
    </table>

</div>

</body>
</html>