<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>
<body class="container">
<h2>Add Component to: </h2>

<div class="form-group">
    <p th:text="${'Device: '+ device.name}">Device</p>
</div>

<form method="post" style="max-width:600px;">
    <div class="form-group">
        <label th:for="name">Component</label>
        <select name="name">
            <option th:each="name : ${names}"
                    th:value = "${name}"
                    th:text="${name}">
            </option>
        </select>
    </div>
    <div class="form-group">
        <label th:for="type">Type</label>
        <input class="form-control" th:field="${component.type}" />
        <span th:errors="${component.type}" class="error"></span>
    </div>

    <div class="form-group">
        <label th:for="quantity">Quantity</label>
        <input class="form-control" th:field="${component.quantity}" />
        <span th:errors="${component.quantity}" class="error"></span>
    </div>

    <div class="form-group">
        <label th:for="description">Description</label>
        <input class="form-control" th:field="${component.description}" />
        <span th:errors="${component.description}" class="error"></span>
    </div>



    <input type="submit" value="Add Component" />
</form>
</body>
</html>