<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>
<body class="container">
<h2>Edit Component</h2>

<th:block th:unless="${component}">
    <p>The component you are trying to edit does not exist.</p>
</th:block>
<th:block th:if="${component}">
    <form method="post" th:action="@{/components/edit}">
        <div class="form-group">
            <label>Name
                <input type="text" name="name" class="form-control" th:value="${component.name}">
            </label>
        </div>
        <div class="form-group">
            <label th:for="type">Type</label>
            <select name="typeId">
                <option th:each="type : ${typelist}"
                        th:value = "${type.id}"
                        th:text="${type.name}">
                </option>
            </select>
        </div>
        <div class="form-group">
            <label>Quantity
                <input type="text" name="name" class="form-control" th:value="${component.quantity}">
            </label>
        </div>
        <div class="form-group">
            <label th:text="@{'Device: '+ component.device.name}">Device</label>
        </div>
        <div class="form-group">
            <label>Description
                <input type="text" name="description" class="form-control" th:value="${component.description}">
            </label>
        </div>
        <input type="hidden" th:value="${component.id}" name="componentId" />
        <div class="form-group">
            <input type="submit" value="Update Component" class="btn btn-success">
        </div>
    </form>
</th:block>

</body>
</html>