<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>
<body class="container">
<header th:replace="fragments :: header"></header>
<div class="container breadcrumbs">
    <span><a th:href="@{/}" th:text="${'Home-Page'}"></a></span>
    <span>> Properties</span>
</div>
<h2>Properties</h2>

<p th:unless="${user.properties} and ${user.properties.size()}">No properties!</p>

<div class="container body-content">
    <ul>
        <li th:each="property : ${user.properties}">
            <a th:href="@{'/properties/view/' + ${property.id}}" th:text="${property.name}"></a>
        </li>
    </ul>
    <a th:href="@{'/properties/add'}">
        <input type="submit" value="Add Properties" class="btn btn-secondary">
    </a>
</div>
<p></p>

<div class="card enlighten">
    <p class="card-text">Your list of Properties are available here. Click on any to edit, add a room to, or delete the property if you wish.</p>
    <p class="card-text">Clicking on "Add Properties" will allow you to create a new property.</p>
</div>

</body>
</html>