<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>
<body class="container body-content">
<h2 th:text="${'Property: ' + property.name}">Default Title</h2>

<div>
    <p th:text="${'Name: ' + property.name}"></p>
    <p th:text="${'Location: ' + property.location}"></p>
    <p th:text="${'Description: ' + property.description}"></p>
</div>
<div>
    <a th:href="@{/properties/edit/{id}(id=${property.id})}">
        <input type="submit" value="Edit" class="btn btn-info">
    </a>
</div>

<div>
    <ul>
        <li th:each="room : ${property.rooms}">
            <a th:href="@{'/rooms/view/' + ${room.id}}" th:text="${room.name}"></a>
        </li>
    </ul>
</div>

<div>
    <a th:href="@{/properties/addRoom/{id}(id=${property.id})}">
        <input type="submit" value="Add room" class="btn btn-info">
    </a>
</div>

</body>
</html>