<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>
<body class="container">
<header th:replace="fragments :: header"></header>
<div class="container breadcrumbs">
    <span>Home-Page</span>
</div>
<h1>Burrow</h1>
<h2 th:text="${'Hello ' + user.name + '!'}"></h2>
<p></p>

<p th:unless="${user.properties} and ${user.properties.size()}">
<div class="container body-content">
    <a th:href="@{'/properties/add'}">
        <input type="submit" value="Add Properties" class="btn btn-secondary">
    </a>
</div>
</p>

<div class="container body-content">
    <ul>
        <li th:each="property : ${user.properties}">
            <a th:href="@{'/properties/view/' + ${property.id}}" th:text="${property.name}"></a>
        </li>
    </ul>
</div>
<p></p>
<div th:if="${notifications} and ${notifications.size()}" class="container body-content">
    <a th:href="@{'/notifications'}">
        <input type="submit" th:value="${'You have ' + notifications.size() + ' notifications.'}" class="btn btn-light">
    </a>
</div>
<div th:unless="${notifications} and ${notifications.size()}" class="container body-content">
    <p>
        <input type="submit" value="You have no notifications." class="btn btn-light">
    </p>
</div>

</body>
</html>