<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>
<body class="container">
<header th:replace="fragments :: header"></header>
<div class="container breadcrumbs">
    <span>Home-Page</span>
</div>
<h1>Burrow</h1>
<h2 th:text="${'Hello ' + user.name + '!'}"></h2>
<p></p>
<div class="container body-content">
    <a th:href="@{'/properties'}">
        <input type="submit" value="View Properties" class="btn btn-light">
    </a>
</div>
<div th:if="${notifications} and ${notifications.size()}">
    <a th:href="@{'/notifications'}">
        <input type="submit" th:value="${'You have ' + notifications.size() + ' notifications.'}" class="btn btn-light">
    </a>
</div>
<div th:unless="${notifications} and ${notifications.size()}">
    <p>
        <input type="submit" value="You have no notifications." class="btn btn-light">
    </p>
</div>

</body>
</html>