<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>
<body class="container">

<header th:replace="fragments :: header"></header>

<div class="jumbotron jumbotron-fluid">
    <div class="container">
        <h1 class="display-4">Burrow</h1>
        <hr class="my-4">
        <p class="lead">World's First Residential Replacement Reminder App</p>
    </div>
</div>

<h1>Burrow Login</h1>

<form method="post">
    <div class="form-group">
        <label th:for="username">Username
            <input class="form-control" th:field="${loginFormDTO.name}">
        </label>
        <p class="error" th:errors="${loginFormDTO.name}"></p>
    </div>
    <div class="form-group">
        <label>Password
            <input class="form-control" th:field="${loginFormDTO.password}" type="password">
        </label>
        <p class="error" th:errors="${loginFormDTO.password}"></p>
    </div>

    <input type="submit" class="btn btn-primary" value="Log In" />
</form>

<p>Don't have an account? <a href="/register">Register for one.</a></p>


<br><br><br>
<div class="card-deck">
    <div class="card">
<!--        <img src="..." class="card-img-top" alt="...">-->
        <div class="card-body">
            <h5 class="card-title">What It Does</h5>
            <p class="card-text">Residential reminder app</p>
        </div>
    </div>
    <div class="card">
<!--        <img src="..." class="card-img-top" alt="...">-->
        <div class="card-body">
            <h5 class="card-title">How It Works</h5>
            <p class="card-text">Add a component within each device, we'll send you a reminder when it's time to replace</p>
        </div>
    </div>
    <div class="card">
<!--        <img src="..." class="card-img-top" alt="...">-->
        <div class="card-body">
            <h5 class="card-title">Take Us Anywhere</h5>
            <p class="card-text">Convenient desktop to mobile conversion</p>
        </div>
    </div>
</div><br>

</body>
</html>