<!DOCTYPE html>
<html lang="en">
<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body>

<div class="container">
  <h2>All Components</h2>
  <p>Type something in the input field to search the table for properties, rooms, devices, or components:</p>
  <input class="form-control" id="myInput" type="text" placeholder="Search..">
  <br>
  <table  class="table table-bordered">
    <thead>
    <tr>
      <th>Component</th>
      <th>Qty</th>
      <th>Description</th>
      <th>Device</th>
      <th>Room</th>
      <th>Property</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="component : ${components}">
      <td><a th:href="@{'/components/view/' + ${component.id}}" th:text="${component.name}"></a></td>
      <td th:text="${component.quantity}"></td>
      <td th:text="${component.description}"></td>
      <td><a th:href="@{'/devices/view/' + ${component.device.id}}" th:text="${component.device.name}"></a></td>
      <td><a th:href="@{'/rooms/view/' + ${component.device.room.id}}" th:text="${component.device.room.name}"></a></td>
      <td><a th:href="@{'/properties/view/' + ${component.device.room.property.id}}" th:text="${component.device.room.property.name}"></a></td>
    </tr>
    </tbody>
  </table>
</div>



</body>
</html>