<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>
<body class="container">
<header th:replace="fragments :: header"></header>

<h1 th:text="${'View All'}">Default Title</h1>

<div>
    <table class="devices-listing">
        <tr th:each="device : ${devices}">
            <td>
                <p th:text="${'Device Name: ' + device.name}"></p>
                <p><a th:href="@{'/rooms/view/' + ${device.room.id}}" th:text="${'Room: ' + device.room.name}"></a></p>
                <p><a th:href="@{'/property/view/' + ${device.room.property.id}}"  th:text="${'Property: ' + device.room.property.name}"></a></p>
                <p>
                    Components:
                <ul th:each="component : ${device.components}">
                    <li>
                        <a th:href="@{'/components/view/' + ${component.id}}" th:text="${component.name}"></a>
                    </li>
                </ul>
                </p>

            </td>
        </tr>
    </table>
</div>
<a th:href="@{'/search'}" class="btn btn-primary">Search Devices</a>
</body>
</html>