<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>
<body class="container">
<link rel="stylesheet" href="https://cdn.datatables.net/1.10.22/css/dataTables.bootstrap4.min.css">
<script src="https://cdn.datatables.net/1.10.22/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/1.10.22/js/dataTables.bootstrap4.min.js"></script>

<header th:replace="fragments :: header"></header>
<div class="container breadcrumbs">
    <span><a th:href="@{/}" th:text="${'Home-Page'}"></a></span>
    <span>> View All Components</span>
</div>
<p></p>
<h2 th:text="${'View All Components'}">Default Title</h2>
<p th:unless="${components} and ${components.size()}">No Components!</p>
<div>
    <table class="table table-bordered" id="sortTable">
        <thead>
        <tr>
            <th>Component</th>
            <th>Qty</th>
            <th>Description</th>
            <th>Device</th>
            <th>Room</th>
            <th>Property</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="component : ${components}">
            <td><a th:href="@{'/components/view/' + ${component.id}}" th:text="${component.name}"></a></td>
            <td th:text="${component.quantity}"></td>
            <td th:text="${component.description}"></td>
            <td><a th:href="@{'/devices/view/' + ${component.device.id}}" th:text="${component.device.name}"></a></td>
            <td><a th:href="@{'/rooms/view/' + ${component.device.room.id}}" th:text="${component.device.room.name}"></a></td>
            <td><a th:href="@{'/properties/view/' + ${component.device.room.property.id}}" th:text="${component.device.room.property.name}"></a></td>
        </tr>
        </tbody>
    </table>
</div>
<p></p>
<a th:href="@{'/search'}" class="btn btn-primary">Search Devices</a>

<script>
$('#sortTable').DataTable();
</script>
</body>
</html>