<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>
<body class="container">
<h2>Delete Room</h2>
<p th:unless="${rooms}">No rooms!</p>

<th:block th:if="${rooms}">
    <form method="post" th:action="@{/rooms/delete}">
        <th:block th:each="room : ${rooms}">
            <div class="form-group">
                <label>
                    <label th:text="${'Are you sure?'}"></label>
                    <input type="checkbox" name="roomIds" th:value="${room.id}" class="form-control">
                </label>
            </div>
        </th:block>
        <input type="submit" value="Yes, if checked" class="btn btn-warning">
    </form>
</th:block>

</body>
</html>