<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>
<body class="container body-content">
<h2 th:text="${'Room: ' + room.name}">Default Title</h2>

<div>
    <p th:text="${'Name: ' + room.name}"></p>
    <p th:text="${'Property: ' + room.property.name}"></p>
</div>

<h3 th:text="${'Devices:'}"></h3>

<div>
    <ul>
        <li th:each="device : ${room.devices}">
            <a th:href="@{'/devices/view/' + ${device.id}}" th:text="${device.name}"></a>
        </li>
    </ul>
</div>
<div>
    <a th:href="@{'/devices/add'}">Add Device</a>
</div>
<div>
    <a th:href="@{'/devices/delete'}">Remove Device</a>
</div>
<p></p>

<div>
    <a th:href="@{/rooms/edit/{id}(id=${room.id})}">
        <input type="submit" value="Edit" class="btn btn-info">
    </a>

    <a th:href="@{/rooms}">
        <input type="submit" value="Back" class="btn btn-info">
    </a>
</div>
<p></p>

<div>
    <a th:href="@{/rooms/delete/{id}(id=${room.id})}">
        <input type="submit" value="Delete" class="btn btn-danger">
    </a>
</div>

<div>
    <a th:href="@{/properties/view/{id}(id=${room.property.id})}">
        <input type="submit" value="Go back to property" class="btn btn-info">
    </a>
</div>

</body>
</html>